beautifulsoup4==4.12.3
fpdf==1.7.2
googletrans==3.0.0
langchain==0.3.13
langchain_community==0.3.13
langchain_experimental==0.3.4
langchain_google_genai==2.0.7
pandas==2.2.3
Pillow==11.0.0
protobuf==5.29.2
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
streamlit==1.41.1
